tap "dwarvesf/tap"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/services"
tap "wez/wezterm"
# PKCS#11モジュールを読み込み、列挙するライブラリ
brew "p11-kit"
# 検証、再帰的、キャッシュするDNSリゾルバ
brew "unbound"
# GNU Transport Layer Security (TLS) ライブラリ
brew "gnutls"
# ASS/SSA字幕フォーマットのための字幕レンダラー
brew "libass"
# VLCなどのメディアプレーヤー用のBlu-Rayディスク再生ライブラリ
brew "libbluray"
# セキュアで信頼性の高いトランスポート
brew "srt"
# オーディオとビデオの再生、録音、変換、ストリーミング
brew "ffmpeg"
# GNUコンパイラコレクション
brew "gcc"
# PostScriptとPDFのインタープリター
brew "ghostscript"
# GIF画像/アニメーションの作成/編集ツール
brew "gifsicle"
# 多数のグリフを持つ開発者向けフォント
cask "font-hack-nerd-font"
# GUI applications
cask "bambu-studio"
cask "chatgpt"
cask "google-chrome"
cask "obsidian"
cask "raycast"
cask "wezterm"
